* {
  padding: 0;
  margin: 0;
}
.plan {
  height: 656px;
  width: 100%;
  background-color: rgba(8, 29, 68, 0.89);
  padding-top: 1px;
}
#calc {
  height: 320px;
  width: 450px;
  margin-left: 33%;
  margin-top: 100px;
  border-style: outset;
  border-width: 2px;
  background-color: rgba(19, 60, 170, 0.801);
}
.button {
  height: 45px;
  width: 46px;
  font-size: 100%;
  font-weight: bold;
  background-color: rgb(204, 191, 3);
  border-style: outset;
  text-align: center;
}
.button:active {
  border-style: inset;
}
#boutton {
  padding-top: 10px;
  padding-left: 15px;
}
#calc .textarea {
  width: 223px;
  height: 20px;
  margin-left: 13px;
  text-align: right;
  margin-top: -4px;
  margin-bottom: -15px;
  font-weight: bold;
  border: none;
  background-color: burlywood;
}
#calc h3 {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.45em;
}

#history {
  position: absolute;
  display: flex;
  height: 215px;
  width: 200px;
  background-color: burlywood;
  margin-left: 240px;
  margin-top: 26px;
  overflow: auto;
  white-space: nowrap;
}

#tab {
  position: absolute;
  padding-left: 250px;
  padding-top: 10px;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 1.5em;
}
